data/images/test
data/images/qa/results
logs/
*.pyc
*.tar.gz
build/CMakeCache.txt/
build/CMakeFiles/jetson-inference.dir/c/
build/aarch64/include/jetson-inference/
build/aarch64/lib/
build/python/
build/utils/

build/CMakeCache.txt
build/CMakeFiles/
build/aarch64/bin/camera-capture
build/aarch64/bin/camera-viewer
build/aarch64/bin/depthnet
build/aarch64/bin/detectnet
build/aarch64/bin/detectnet-camera
build/aarch64/bin/detectnet-console
build/aarch64/bin/gl-display-test
build/aarch64/bin/imagenet
build/aarch64/bin/imagenet-camera
build/aarch64/bin/imagenet-console
build/aarch64/bin/posenet
build/aarch64/bin/segnet
build/aarch64/bin/segnet-camera
build/aarch64/bin/segnet-console
build/cmake_install.cmake
build/examples/
build/install_manifest.txt
build/tools/































